.App {
  text-align: center;
  font-size: 35px;
}

body{
  background-color: blue;
}

.standardBtn{
  background-color: green;
  border: 1px solid green;
}

.expertBtn{
  background-color: red;
  border: 1px solid red;
}


